<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1>Some Error Occured!</h1>
    <p>Waiting to be resolved!! Sorry for inconvenience</p>

<%- include('includes/end.ejs') %>